
<main class="center">
  <form class="center">
  <h2>Sign-up</h2>
  <input class="txt" type="text" required placeholder="Name:" name="name">
  <input class="txt" type="email" required placeholder="Email:" name="email">
  <input class="txt" type="password" required placeholder="Password:" name="password" >
  <input class="txt" type="password" required placeholder="Confirm your password:" name="Confirm" >
  <input type="button" value="Send" class="formBtn">
  <p>
    Dont have an account? 
  </p>
  <button id="btn" class="formBtn">Sign-in</button>
</form>
</main>
