main{
  width: 100%;
  flex-flow: column;
}

main h3{
  font-size: 1.6rem;
}

#intro{
  flex-flow: column;
   padding-inline: 30px;
}

h1{
  font-size: 80px;
  letter-spacing: 2px;
  font-style: italic;
  font-weight: 900;
  width: 70%;
  line-break: normal;
  margin: 0;
}

#intro div{
  width: 100%;
  text-align: left;
  font-size: 30px;
}

#about{
  width: 70%;
}

#account{
  flex-flow: row-reverse;
  padding: 10px;
  border-radius: 20px;
}

#account div{
  width: 50%;
}

#accountOptions{
  flex-flow: column;
  gap: 20px;
}

.btnAccount{  
  color: #f2f2f2;
  border-radius: 5px;
  background-color: #333;
  width: 150px;
  height: 50px;
  font-size: 1.1rem;
  font-weight: 8--;
  letter-spacing: 1px;
}
