main{
  width: 100%;
  flex-flow: column;
}

main h3{
  font-size: 1.6rem;
}

#intro{
  flex-flow: column;
   padding-inline: 30px;
}

h1{
  font-size: 80px;
  letter-spacing: 2px;
  font-style: italic;
  font-weight: 900;
  width: 70%;
  line-break: normal;
  margin: 0;
}

#intro div{
  width: 100%;
  text-align: left;
  font-size: 30px;
}

