<app-navbar></app-navbar>

<div id="page">

  <aside>
    
    <div id="menu">
      
    </div>
    
    <div id="items">
      <ul>
        
        <li class="item">
          <button type="menu">Oliber</button>
        </li>
        <li class="item"><button type="menu">Oliber</button></li>
        <li class="item"><button type="menu">Oliber</button></li>
        <li class="item"><button type="menu">Oliber</button></li>
        <li class="item"><button type="menu">Oliber</button></li>

      </ul> 
    </div>

  </aside>

  <main>
    <!-- mini menu with info about the note -->

    <div id="topBar">

    </div>

    <div id="content" class="center">
      <app-text-highlight (changeText)="onChangeText($event)"></app-text-highlight>

      <!-- higlignt -->
      <markdown 
        lineHighlight
        clipboard
        ngPreserveWhitespaces
        [data]="text"></markdown>
    </div>

  </main>
</div>
