*{
  background-color: #222;
  color: #f4f4f4;
  list-style: none;
  border: none;
  padding: none;
}

/*-- generic classes --*/

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

