@import "prismjs/themes/prism";

:root{
  --titleColor: #222;
  --textColor: #555;
  --background: #f3f3f3;
  --navBackground: #f9f9f9;
  --hoover: #363636;
}

*{
  background-color: var(--background);
  color: var(--textColor);
  list-style: none;
  border: none;
  padding: none;
  overflow-x: hidden;
}

h1,h2,h3,h4{
  color: var(--titleColor);
}

/*-- generic classes --*/

section{
  height: 100vh;
  max-width: 1300px;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

